{% extends 'base.html' %}
{% block title %}Airbnb etxeak{% endblock %}
{% block content %}
<div class="container">
    <h2>Etxeak</h2>
    <table class="table-custom">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-2">Etxearen izena</th>
            <th class="col-2">Herria</th>
            <th class="col-1">Pertsona kopurua</th>
            <th class="col-1">Alokairu hasi data</th>
            <th class="col-1">Alokairu bukatu data</th>
            <th class="col-1">Egoera</th>
            <th class="col-1">Aldatu</th>
            <th class="col-1">Ezabatu</th>
        </tr>
        </thead>
        <tbody>
        {% for etxea in etxeak %}
        <tr>

            <td class="col-1">{{ etxea.id }}</td>
            <td class="col-2">{{ etxea.izena }}</td>
            <td class="col-2">{{ etxea.herria }}</td>
            <td class="col-1">{{ etxea.pertsona_kopurua }}</td>
            <td class="col-1">{{ etxea.alokatu_hasi }}</td>
            <td class="col-1">{{ etxea.alokatu_bukatu }}</td>
            <td class="col-1">{{ etxea.egoera }}</td>
            <td class="col-1"><a href="formupdateetxea/{{ etxea.id }}" class="btn-edit-custom">Aldatu</a></td>
            <td class="col-1"><a href="deleteetxea/{{ etxea.id }}" class="btn-secondary-custom">Ezabatu</a></td>
        </tr>
        {% empty %}
        {% endfor %}
        </tbody>
    </table>
    <div class="se-25"></div>
    <div class="row">
        <div class="col-6">
            <a href="/" class="btn-custom">Alokairuak ikusi</a>
            <a href="/formaddetxea" style="float:right" class="btn-custom">Etxe bat gehitu</a>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
{% endblock content %}